<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="x1">
      <h2 data-cy="x1DetailsHeading"><span jhiTranslate="travelTutorialCompleteApp.x1.detail.title">X 1</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ x1.id }}</span>
        </dd>
        <dt><span jhiTranslate="travelTutorialCompleteApp.x1.name">Name</span></dt>
        <dd>
          <span>{{ x1.name }}</span>
        </dd>
        <dt><span jhiTranslate="travelTutorialCompleteApp.x1.car">Car</span></dt>
        <dd>
          <span *ngFor="let car of x1.cars; let last = last">
            <a [routerLink]="['/car', car?.id, 'view']">{{ car.code }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/x-1', x1.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
