<div>
  <h2 id="page-heading" data-cy="TravelPlanStartFormHeading">
    <span jhiTranslate="travelTutorialCompleteApp.travelPlanStartForm.home.title">Travel Plan Start Forms</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="travelTutorialCompleteApp.travelPlanStartForm.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-travel-plan-start-form"
        [routerLink]="['/travel-plan-start-form/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="travelTutorialCompleteApp.travelPlanStartForm.home.createLabel"> Create a new Travel Plan Start Form </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="travelPlanStartForms?.length === 0">
    <span jhiTranslate="travelTutorialCompleteApp.travelPlanStartForm.home.notFound">No travelPlanStartForms found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="travelPlanStartForms && travelPlanStartForms.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="travelTutorialCompleteApp.travelPlanStartForm.name">Name</span></th>
          <th scope="col"><span jhiTranslate="travelTutorialCompleteApp.travelPlanStartForm.numPax">Num Pax</span></th>
          <th scope="col"><span jhiTranslate="travelTutorialCompleteApp.travelPlanStartForm.startDate">Start Date</span></th>
          <th scope="col"><span jhiTranslate="travelTutorialCompleteApp.travelPlanStartForm.endDate">End Date</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let travelPlanStartForm of travelPlanStartForms; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/travel-plan-start-form', travelPlanStartForm.id, 'view']">{{ travelPlanStartForm.id }}</a>
          </td>
          <td>{{ travelPlanStartForm.name }}</td>
          <td>{{ travelPlanStartForm.numPax }}</td>
          <td>{{ travelPlanStartForm.startDate | formatMediumDate }}</td>
          <td>{{ travelPlanStartForm.endDate | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/travel-plan-start-form', travelPlanStartForm.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/travel-plan-start-form', travelPlanStartForm.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(travelPlanStartForm)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
