<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="car">
      <h2 data-cy="carDetailsHeading"><span jhiTranslate="travelTutorialCompleteApp.car.detail.title">Car</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ car.id }}</span>
        </dd>
        <dt><span jhiTranslate="travelTutorialCompleteApp.car.code">Code</span></dt>
        <dd>
          <span>{{ car.code }}</span>
        </dd>
        <dt><span jhiTranslate="travelTutorialCompleteApp.car.passangers">Passangers</span></dt>
        <dd>
          <span>{{ car.passangers }}</span>
        </dd>
        <dt><span jhiTranslate="travelTutorialCompleteApp.car.boodked">Boodked</span></dt>
        <dd>
          <span>{{ car.boodked | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="travelTutorialCompleteApp.car.duration">Duration</span></dt>
        <dd>
          <span>{{ car.duration }}</span>
        </dd>
        <dt><span jhiTranslate="travelTutorialCompleteApp.car.price">Price</span></dt>
        <dd>
          <span>{{ car.price }}</span>
        </dd>
        <dt><span jhiTranslate="travelTutorialCompleteApp.car.carCo">Car Co</span></dt>
        <dd>
          <div *ngIf="car.carCo">
            <a [routerLink]="['/car-rental-company', car.carCo?.id, 'view']">{{ car.carCo?.code }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/car', car.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
