<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>Travel Plan Confirmation Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Dear Travel Complete User</p>
    <p>This is a summary of your travel <b th:text="${travelPlan.name}">name</b></p>
    <ul>
      <li><b>Start</b>: <span th:text="${travelPlan.startDate}"></span></li>
      <li><b>End</b>: <span th:text="${travelPlan.endDate}"></span></li>
      <li><b>Flight</b>: <span th:text="${flight}"></span></li>
      <li><b>Car</b>: <span th:text="${car}"></span></li>
      <li><b>Hotel</b>: <span th:text="${hotelRoom}"></span></li>
      <li><b>Price</b>: <span th:text="${travelPlan.price}"></span></li>
    </ul>
    <p>
      Regards,
      <br />
      <em>AgileKip Team</em>
    </p>
  </body>
</html>
