<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>AgileKip Default Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Dear Travel Complete User</p>

    <p>You could not complete your plan in time and we have <b> canceled </b>your travel plan.</p>
    <p>Hope to hear from you soon.</p>
    <p>
      Regards,
      <br />
      <em>Travel Complete Team</em>
    </p>
  </body>
</html>
